<!DOCTYPE html>
<head>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    -->
    <meta charset="utf-8">
    <script src="/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="/bootstrap/js/typeahead.js"></script>
    <script src="/bootstrap/js/handlebars.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap/css/datepicker.css" rel="stylesheet" />
    <link href="/bootstrap/css/typeahead.css" rel="stylesheet" />
    <link href="/cgcss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_fr-be.js"></script>
    <script src="javascripts/admin.js"></script>
    <title>Panneau d'administration</title>
</head>
<body ng-app="admin">

<!--[if lt IE 7]>
<p class="browsehappy">Vous utilisez une version de navigateur <strong>depassee</strong>. Veuillez <a href="http://browsehappy.com/">mettre a jour votre navigateur</a> pour ameliorer votre experience.</p>
<![endif]-->

<!-- Nav tabs -->
<ul id="mainTab" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#commande" role="tab" data-toggle="tab">Commandes</a></li>
    <li><a href="#client" role="tab" data-toggle="tab">Clients</a></li>
    <li><a href="#produit" role="tab" data-toggle="tab">Produits</a></li>
    <li><a href="#categorie" role="tab" data-toggle="tab">Categories</a></li>
    <li><a href="#magasin" role="tab" data-toggle="tab">Magasins</a></li>
    <li><a href="#personnel" role="tab" data-toggle="tab">Personnel</a></li>
    <li><a href="#terminal" role="tab" data-toggle="tab">Terminaux</a></li>
    <li><a href="#ferie" role="tab" data-toggle="tab">Ferie</a></li>
    <li><a href="#custom" role="tab" data-toggle="tab">Produits Custom</a></li>
    <li><a href="#regroupement" role="tab" data-toggle="tab">Regroupements</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="commande" ng-controller="CommandeController">
        <div class="row">
            <div id="selectorMagasin" class="col-md-12 form-inline">
                <label ng-repeat="magasin in magasins"  ng-if="magasin.display == 1"class="btn btn-primary active" ng-click="refresh()">
                    <input class="form-control" type="checkbox" ng-model="params.selectedMagasins[magasin.idMagasin]">{{magasin.Nom}}
                </label>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="form-inline col-md-12">
                <div class="form-group col-md-4">
                    <label class="col-md-4">
                        Cr&eacuteation
                    </label>
                    <div class="input-group col-md-8">
                        <input ng-model="params.dateCreate" ng-change="refresh()" id="dpCreate" type="text" placeholder="Entrez une date" class="form-control">
                        <span ng-click="params.dateCreate='';refresh()" class="input-group-addon glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-md-4">
                        R&eacuteception
                    </label>
                    <div class="input-group col-md-8">
                        <input ng-model="params.dateLivraison" ng-change="refresh()" id="dpLivraison" type="text" placeholder="Entrez une date" class="form-control">
                        <span ng-click="params.dateLivraison=''" class="input-group-addon glyphicon glyphicon-remove"></span>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="col-md-4">
                        # R&eacutesultats
                    </label>
                    <div class="input-group col-md-8">
                        <input ng-model="params.nbrResult" ng-change="refresh()" type="number" placeholder="Entrez un nombre" class="form-control">
                        <span ng-click="params.nbrResult=0" class="input-group-addon glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'col-md-12':!detailCommandeIsOn, 'col-md-9':detailCommandeIsOn}">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Creation</th>
                <th>Livraison</th>
                <th>Prix</th>
                <th>P/NP</th>
                <th>Remarque</th>
                <th>Client</th>
                <th>Vendeuse</th>
                <th>Magasin</th>
                <th>Statut</th>
                </thead>
                <tbody>
                <tr ng-repeat="commande in commandes" ng-click="details(commande);" ng-class="ngclassDisplay(commande.display)"> <!--ng-if="commande.display == 1"-->>
                    <td>{{commande.idCommande}}</td>
                    <td>{{commande.Creation | date:'EEEE dd MMMM yyyy'}}</td>
                    <td>{{commande.Livraison | date:'EEEE dd MMMM yyyy'}}</td>
                    <td>{{commande.Montant}}</td>
                    <td>{{(commande.PNP==3)?'AFNP':(commande.PNP==2)?'AF':(commande.PNP==1)?'P':'NP'}}</td>
                    <td><p style="width:400px;text-overflow: ellipsis;overflow:hidden;">{{commande.Remarque}}</p></td>
                    <td>{{commande.clientNom}}</td>
                    <td>{{commande.vendeuseNom}}</td>
                    <td>{{commande.magasinNom}}</td>
                    <td>{{displayBool(commande.display)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="DetailCommande" class="col-md-3" ng-if="detailCommandeIsOn" >
            <div class="detail-content">
                <div class="detail-body">
                    <h2 class="col-md-12">Detail de la commande : </h2>
                    <div  class="col-md-12">
                        <label class="col-md-1">Nom:</label>
                        <div class="col-md-offset-1 col-md-10"><p>{{det_com.client.Nom}}</p></div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-1">Tel:</label>
                        <div class="col-md-offset-1 col-md-10"><p>{{det_com.client.Tel}}</p></div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-1">Remarque:</label>
                        <div><p>{{det_com.Remarque}}</p></div>
                    </div>
                    <table class="table table-condensed">
                        <thead><th>produit</th><th>quantité</th><th>remarque</th></thead>
                        <tbody><tr ng-repeat="produit in det_com.produits">
                            <td>{{produit.prod.Nom}}</td>
                            <td>{{produit.qty}}</td>
                            <td>{{produit.commentaire}}</td>
                        </tr></tbody>
                    </table>
                </div>
                <div class="detail-footer">
                    <a type="button" class="btn btn-warning" ng-click="noDetails()" >Fermer</a>
                    <a type="button" class="btn btn-danger" ng-click="delete(det_com);" >Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="client" ng-controller="ClientController">
        <div class="form-horizontal col-md-8 col-md-offset-2">
            <div class="form-group">
                <label class="control-label col-md-4">Nom du client</label>
                <div class="col-md-8 btn-group">
                    <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="params.Nom" ng-change="getClients()" aria-haspopup="true" aria-expanded="false">
                    <ul class="dropdown-menu">
                        <li ng-repeat="client in clients" ng-if="client.display == 1"><span ng-click="params.Nom=client.Nom;getClients();">{{client.Nom}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mainContentClients col-md-12">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Tel</th>
                <th>Mail</th>
                <th>TVA</th>
                <th>Inscription</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr ng-repeat="client in clients" ng-if="client.display ==1">
                    <td>{{client.idClient}}</td>
                    <td><input type="text" ng-model="client.Nom"></td>
                    <td><input type="text" ng-model="client.Tel"></td>
                    <td><input type="text" ng-model="client.Mail"></td>
                    <td><input type="text" ng-model="client.TVA"></td>
                    <td>{{client.Inscription | date:'EEEE dd MMMM yyyy'}}</td>
                    <td><button class="btn btn-primary" ng-click="modify(client);getClients();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(client);getClients();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="produit" ng-controller="ProduitController">
        <div class="row">
            <div id="selectorCategory" class="col-md-12 form-inline">
                <label ng-repeat="category in categories" ng-if="category.display == 1" class="btn btn-primary active" ng-click="getProduits()">
                    <input class="form-control" type="checkbox" ng-model="params.selectedCategories[category.idCategorie]">{{category.Nom}}
                </label>
            </div>
        </div>
        <div class="form-horizontal col-md-8 col-md-offset-2">
            <div class="form-group">
                <label class="control-label col-md-4">Produit</label>
                <div class="col-md-8 btn-group">
                    <input placeholder="Entrez un nom" type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="params.Nom" ng-change="getProduits()" aria-haspopup="true" aria-expanded="false">
                    <ul class="dropdown-menu">
                        <li ng-repeat="produit in produits" ng-if="produit.display == 1"><span ng-click="params.Nom=produit.Nom;getProduits();">{{produit.Nom}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-class="{'col-md-12':!regroupementPanelIsOn, 'col-md-9':regroupementPanelIsOn}">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>Regroupement</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr>
                    <td>Nouveau</td>
                    <td><input type="text" ng-model="new.Nom"></td>
                    <td><input type="text" ng-model="new.Prix"></td>
                    <td><select ng-model="new.Categorie_idCategorie" ng-options="category.idCategorie as category.Nom for category in categories | filter: category.display==1" ng-if="category.display == 1"></select></td>
                    <td><select ng-model="new.regroupement_idRegroupement" ng-options="regroupement.idRegroupement as regroupement.Nom for regroupement in regroupements | filter: regroupement.Display==1" ng-if="regroupement.Display == 1"></select></td>
                    <td><button class="btn btn-primary" ng-click="add();getProduits();">Ajouter</button></td>
                </tr>
                <tr ng-repeat="produit in produits">
                    <td>{{produit.idProduit}}</td>
                    <td><input type="text" ng-model="produit.Nom"></td>
                    <td><input type="text" ng-model="produit.Prix"></td>
                    <td><select ng-model="produit.Categorie_idCategorie" ng-options="category.idCategorie as category.Nom for category in categories | filter: category.display=1" ng-if="category.display = 1"></select></td>
                    <td><p ng-if="hasRegroupement(produit)">{{getProdRegroupement(produit)}}</p><a class="btn btn-warning" ng-if="!hasRegroupement(produit)" ng-click="selectProduct(produit)">Selectionner</a></td>
                    <td><button class="btn btn-primary" ng-click="modify(produit);getProduits();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(produit);getProduits();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="RegroupementPanel" class="col-md-3" ng-if="regroupementPanelIsOn" >
            <div class="detail-content">
                <div class="detail-body">
                    <h2 class="col-md-12">Nouveau Regroupement : </h2>
                    <div  class="col-md-12">
                        <label class="col-md-1">Nom:</label>
                        <div class="col-md-offset-1 col-md-10"><input type="text" ng-model="newRegroupement.Nom"></input></div>
                    </div>
                    <div class="col-md-12">
                        <label class="col-md-1">Categorie:</label>
                        <div class="col-md-offset-1 col-md-10"><p>{{newRegroupement.Categorie_idCategorie}}</p></div>
                    </div>
                    <table class="table table-condensed">
                        <tbody><tr ng-repeat="prod in selection">
                            <td>{{prod.Nom}}</td>
                        </tr></tbody>
                    </table>
                </div>
                <div class="detail-footer">
                    <a type="button" class="btn btn-warning" ng-click="cancelRegroupement()" >Annuler</a>
                    <a type="button" class="btn btn-success" ng-click="addRegroupement();" >Ajouter</a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="categorie" ng-controller="CategoryController">

        <div class="col-md-12">
            <table class="table col-md-4">
                <thead>
                <th>Nom</th>
                <th>Ajouter</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="new.Nom"</td>
                    <td><button class="btn btn-primary" ng-click="add();getCategories();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr ng-repeat="category in categories" ng-if="category.display == 1">
                    <td>{{category.idCategorie}}</td>
                    <td><input type="text" ng-model="category.Nom"></td>
                    <td><button class="btn btn-primary" ng-click="modify(category);getCategories();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(category);getCategories();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="magasin" ng-controller="MagasinController">

        <div class="col-md-12">
            <table class="table col-md-4">
                <thead>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ajouter</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="new.Nom"></td>
                    <td><input type="text" ng-model="new.Adresse"></td>
                    <td><button class="btn btn-primary" ng-click="add();getMagasins();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr ng-repeat="magasin in magasins"  ng-if="magasin.display == 1" >
                    <td>{{magasin.idMagasin}}</td>
                    <td><input type="text" ng-model="magasin.Nom"></td>
                    <td><input type="text" ng-model="magasin.Adresse"></td>.
                    <td><button class="btn btn-primary" ng-click="modify(magasin);getMagasins();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(magasin);getMagasins();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="personnel" ng-controller="VendeuseController">
        <div class="row">
            <div id="selectorMagasin" class="col-md-12 form-inline">
                <label ng-repeat="magasin in magasins"  ng-if="magasin.display == 1" class="btn btn-primary active" ">
                <input class="form-control" type="checkbox" ng-model="params.selectedMagasins[magasin.idMagasin]" ng-click="getVendeuses();">{{magasin.Nom}}
                </label>
            </div>
        </div>
        <div class="form-horizontal col-md-8 col-md-offset-2">

            <div class="form-group row">
                <label class="control-label col-md-4">Personnel</label>
                <div class="col-md-8 btn-group">
                    <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="params.Nom" ng-change="getVendeuses()" aria-haspopup="true" aria-expanded="false">
                    <ul class="dropdown-menu">
                        <li ng-repeat="vendeuse in vendeuses" ng-if="vendeuse.display == 1"><span ng-click="params.Nom=vendeuse.Nom;getVendeuses();">{{vendeuse.Nom}}</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <table class="table col-md-4">
                <thead>
                <th>Nom</th>
                <th>Ajouter</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="new.Nom" placeholder="Entrez un nom"></td>
                    <td><select ng-options="magasin.idMagasin as magasin.Nom for magasin in magasins | filter: magasin.display=1" ng-if="magasin.display = 1" ng-model="new.Magasin_idMagasin">Choisir un magasin</select></td>
                    <!--TODO: rajouter photo-->
                    <td><button class="btn btn-primary" ng-click="add();getVendeuses();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr ng-repeat="vendeuse in vendeuses" ng-if="vendeuse.display == 1">
                    <td>{{vendeuse.idVendeuse}}</td>
                    <td><input type="text" ng-model="vendeuse.Nom"></td>
                    <td><select ng-options="magasin.idMagasin as magasin.Nom for magasin in magasins | filter: magasin.display=1" ng-model="vendeuse.Magasin_idMagasin">{{vendeuse.magasin}}</select></td>
                    <td><button class="btn btn-primary" ng-click="modify(vendeuse);getVendeuses();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(vendeuse);getVendeuses();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="terminal" ng-controller="TerminalController">
        <div class="row">
            <div id="selectorMagasin" class="col-md-12 form-inline">
                <label ng-repeat="magasin in magasins"  ng-if="magasin.display == 1" class="btn btn-primary active" ng-click="getTerminals()">
                    <input class="form-control" type="checkbox" ng-model="params.selectedMagasins[magasin.idMagasin]">{{magasin.Nom}}
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <table class="table col-md-4">
                <thead>
                <th>Magasin</th>
                <th>Ajouter</th>
                </thead>
                <tbody>
                <tr>
                    <td><select ng-options="magasin.idMagasin as magasin.Nom for magasin in magasins | filter: magasin.display=1" ng-model="new.Magasin_idMagasin"></select></td>
                    <td><button class="btn btn-primary" ng-click="add();getTerminals();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th>#</th>
                <th>Magasin</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr ng-repeat="terminal in terminals" ng-if="terminal.Actif == 1">
                    <td>{{terminal.idTerminal}}</td>
                    <td><select ng-model="terminal.Magasin_idMagasin" ng-options="magasin.idMagasin as magasin.Nom for magasin in magasins | filter: magasin.display=1">
                        </select></td>
                    <td><button class="btn btn-primary" ng-click="modify(terminal);getTerminals();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(terminal);getTerminals();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="ferie" ng-controller="FerieController">

        <div class="col-md-12">
            <table class="table col-md-12">
                <thead class="col-md-5">
                <th class="col-md-1" >Date</th>
                <th class="col-md-offset-3 col-md-1">Ajouter</th>
                </thead>
                <tbody>
                <tr class=" input-group col-md-3">
                    <td class=" input-group">
                        <input id="dpFerie" type="text" placeholder="Entrez une date" class="form-control" ng-model="new.date">
                        <span class="input-group-addon glyphicon glyphicon-remove" ng-click="new.date=''"></span>
                    </td>
                    <td><button class="btn btn-primary" ng-click="add();getFeries();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th>#</th>
                <th>Date</th>
                </thead>
                <tbody>
                <tr ng-repeat="ferie in feries">
                    <td>{{ferie.idFerie}}</td>
                    <td>{{ferie.date | date:'EEEE dd MMMM yyyy'}}</td>
                    <td><button class="btn btn-danger" ng-click="delete(ferie);getFeries();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="custom" ng-controller="CustomController">

        <div class="col-md-12">
            <table class="table col-md-12">
                <thead>
                <th class="col-md-offset-3 col-md-1">Nom</th>
                <th class="col-md-offset-3 col-md-1">Prix</th>
                <th class="col-md-offset-3 col-md-1">Categorie</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" placeholder="Nom" ng-model="new.Nom"></td>
                    <td><input type="number" placeholder="Prix" ng-model="new.Prix"></td>
                    <td><select ng-options="category.idCategorie as category.Nom for category in categories | filter: category.display=1" ng-model="new.Categorie_idCategorie"></select></td>
                    <td><button class="btn btn-primary" ng-click="add();getCustoms();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th class="col-md-1" >#</th>
                <th class="col-md-offset-3 col-md-1">Nom</th>
                <th class="col-md-offset-3 col-md-1">Prix</th>
                <th class="col-md-offset-3 col-md-1">Categorie</th>
                </thead>
                <tbody>
                <tr ng-repeat="custom in customs" ng-if="custom.display == 1">
                    <td>{{custom.idProduitCustom}}</td>
                    <td><input type="text" ng-model="custom.Nom"></td>
                    <td><input type="text" ng-model="custom.Prix"></td>
                    <td><select ng-options="category.idCategorie as category.Nom for category in categories | filter: category.display=1" ng-model="custom.Categorie_idCategorie">{{custom.categorie}}</select></td>
                    <td><button class="btn btn-primary" ng-click="modify(custom);getCustoms();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(custom);getCustoms();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="regroupement" ng-controller="RegroupementController">

        <div class="col-md-12">
            <table class="table col-md-4">
                <thead>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Ajouter</th>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" ng-model="new.Nom"</td>
                    <td><select ng-model="new.Categorie_idCategorie" ng-options="category.idCategorie as category.Nom for category in categories | filter: category.display=1" ng-if="category.display = 1"></select></td>
                    <td><button class="btn btn-primary" ng-click="add();getRegroupements();">Ajouter</button></td>
                </tr>
                </tbody>
            </table>
            <table class="table">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Categorie</th>
                <th>Modifier</th>
                <th>Supprimer</th>
                </thead>
                <tbody>
                <tr ng-repeat="regroupement in regroupements" ng-if="regroupement.Display == 1">
                    <td>{{regroupement.idRegroupement}}</td>
                    <td><input type="text" ng-model="regroupement.Nom"></td>
                    <td><select ng-model="regroupement.Categorie_idCategorie" ng-options="category.idCategorie as category.Nom for category in categories | filter: category.display=1" ng-if="category.display = 1"></select></td>
                    <td><button class="btn btn-primary" ng-click="modify(regroupement);getRegroupements();">Modifier</button></td>
                    <td><button class="btn btn-danger" ng-click="delete(regroupement);getRegroupements();">Supprimer</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#dpCreate').datepicker({
            format: "yyyy-mm-dd",
            clearBtn: true,
            autoclose: true
        });
        $('#dpLivraison').datepicker({
            format: "yyyy-mm-dd",
            clearBtn: true,
            autoclose: true
        });
        $('#dpFerie').datepicker({
            format: "yyyy-mm-dd",
            clearBtn: true,
            autoclose: true
        });
    });
</script>

</body>
</html>