<!DOCTYPE html class="fp">
<head>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    -->
    <meta charset="utf-8">
    <script src="/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="/bootstrap/js/typeahead.js"></script>
    <script src="/bootstrap/js/handlebars.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap/css/datepicker.css" rel="stylesheet" />
    <link href="/bootstrap/css/typeahead.css" rel="stylesheet" />
    <link href="/stylesheets/magasin.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_fr-be.js"></script>
    <script src="javascripts/atelier.js"></script>
    <title>Application de commande</title>
</head>
<body ng-app="atelier">
<div class="h100" ng-controller="MainController">
    <div class="h100" ng-if="params.dateLivraison == ''">
        <table class="table table-bordered tab-pane form-control" style="height:90%;">
            <tr ng-repeat="semaine in calendar">
                <td ng-repeat="jour in semaine" class="form-group-lg vcenter" ng-class="isThisActive(jour.date)" >
                    <a class="btn form-control h100" ng-class="{disabled:!(jour.ok)}" ng-click="params.dateLivraison = (jour.date | date:'yyyy-MM-dd') ; refresh()">
                        <h2>{{jour.date | date: 'dd EEEE'}}</h2>
                    </a>
                </td>
            </tr>
        </table>
    </div>


    <div ng-if="params.dateLivraison != ''" style="padding:10px; !important">
        <button type="button" class="btn btn-lg btn-primary col-md-1" ng-click="params.dateLivraison = ''">
            Date...
        </button>
        <div class="col-md-8 col-md-offset-1 form-inline" style="text-align:center !important;">
            <label ng-repeat="categorie in categories"  ng-if="categorie.display == 1"class="btn btn-lg btn-primary active">
                <input class="form-control" type="checkbox" ng-model="params.selectedCategories[categorie.idCategorie]" ng-change="refresh()">{{categorie.Nom}}
            </label>
        </div>
        <button type="button" id="imprimer" class="btn btn-lg btn-primary col-md-1 col-md-offset-1">Imprimer</button>
        <table id="toPrint" class="table">
            <thead>
                <th class="col-md-3">Produit</th>
                <th ng-repeat="magasin in magasins">{{magasin.Nom}}</th>
                <th>Total</th>
            </thead>
            <tbody>
                <tr ng-repeat-start="(key, value) in commandes" data-toggle="collapse" data-target=".trdetail{{key}}">
                    <td>{{value.Nom}} <span ng-if="value.Details.length > 0" class="label label-info">+</span></td>
                    <td ng-repeat="magasin in magasins">{{value.Magasin[magasin.idMagasin]?value.Magasin[magasin.idMagasin].Total:0;}}</td>
                    <td>{{value.Total}}</td>
                </tr>
                <tr ng-repeat="detail in value.Details" class="collapse trdetail{{key}}" style="background-color: whitesmoke;">
                    <td colspan="{{magasins.length + 2}}">
                        <span class="label label-info">{{detail.Magasin}} : {{detail.Quantite}}</span>
                        <span class="label label-info">{{detail.Detail}}</span>
                    </td>
                </tr>
                <tr ng-repeat-end hidden></tr>
            </tbody>
        </table>
    </div>


</div>
</body>