<!DOCTYPE html class="fp">
<head>

    <!--
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    -->
    <meta charset="utf-8">
    <script src="/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/bootstrap/js/bootstrap-datepicker.js"></script>
    <script src="/bootstrap/js/typeahead.js"></script>
    <script src="/bootstrap/js/handlebars.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/bootstrap/css/datepicker.css" rel="stylesheet" />
    <link href="/bootstrap/css/typeahead.css" rel="stylesheet" />
    <link href="/stylesheets/magasin.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://code.angularjs.org/1.3.15/i18n/angular-locale_fr-be.js"></script>
    <script src="javascripts/magasin.js"></script>
    <title>Application de commande</title>
</head>
<body ng-app="magasin" class="h100">
<div id="wrapper" class="h100">
    <div id="header" ng-controller="rootScopeVisualController">
        <div class="alert alert-danger" role="alert" ng-class="{hidden:!displayErreur}">
            {{messageErreur}}
            <button type="button" class="btn btn-danger" ng-click="clearErreur()">Ok</button>
        </div>
    </div>


    <div id="content" class="h100">
        <!-- CHOIX VENDEUSE -->
    <div ng-controller="choixVendeuse" class="h100" ng-class="isActiveMenu('vendeuse')">
        <div ng-show="! ok">Loading</div>
        <div ng-show="ok">
            <h4>Selection de la Vendeuse</h4>
            <ul class="nav nav-pills nav-justified" role="tablist">
                <li ng-repeat="magasin in magasins" ng-if="magasin.display == 1" ng-class="activeClass(magasin.idMagasin)">
                    <a href="#mag{{magasin.idMagasin}}" ng-click="activeTab = magasin.idMagasin" role="tab" data-toggle="tab">
                        {{magasin.Nom}}
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content"  style="max-width: 100% !important; max-height:70% !important;">
                <table id="mag{{mag_v.idMagasin}}" ng-repeat="mag_v in vendByMag"
                       class="table table-bordered tab-pane form-control" ng-class="activeClass(mag_v.idMagasin)">
                    <tr ng-repeat="row_v in mag_v">
                        <td ng-repeat="v in row_v" class="form-group-lg vcenter" style="max-width: 100% !important; max-height:70% !important;">
                            <a ng-click="selectVendeuse(v);next()">
                                <h4>{{v.Nom}}</h4>
                                <img src="/default.jpg" class="center-block" style="max-width: 100% !important; max-height:70% !important;">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- Menu Principal -->
    <div ng-controller="mainMenu" ng-class="isActiveMenu('main')" class="h100">
        <div class="col-md-6 fill h100">
            <button type="button" class="fill btn btn-primary btn-lg btn-block h100" ng-click="toCommand()">Commander</button>
        </div>
        <div class="col-md-6 fill h100">
            <button type="button" class="fill btn btn-primary btn-lg btn-block h100" ng-click="toConsult()">Consulter / Modifier</button>
        </div>
    </div>

    <div id="APPLICATION COMMANDE" ng-class="isActiveMenu('commande')" class="h100" ng-controller="commandeController">
        <!-- NAV -->
        <div class="h5">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li><a role="tab" class="btn btn-primary" ng-click="previous(activeMenu)">Précédent</a></li>
                <li ng-class="{disabled:commande.date==''}">  <a role="tab" ng-click="setActiveMenu('date');">        Date</a></li>
                <li ng-class="{disabled:commande.heure==''}">         <a role="tab" ng-click="setActiveMenu('heure');">       Heure</a></li>
                <li ng-class="{disabled:commande.client.Nom==''}">        <a role="tab" ng-click="setActiveMenu('client');">      Client</a></li>
                <li ng-class="{disabled:commande.montant==''}">       <a role="tab" ng-click="setActiveMenu('produit');">     Produits</a></li>
                <li ng-class="{disabled:commande.Remarque==''}">   <a role="tab" ng-click="setActiveMenu('commentaire');"> Commentaire</a></li>
                <li ng-class="{disabled:commande.PNP==''}">      <a role="tab" ng-click="setActiveMenu('payement');">    Payement</a></li>
                <li ng-class="{disabled:commande.PNP==''}">         <a role="tab" ng-click="setActiveMenu('recap');">       Recapitulatif</a></li>
                <li ng-if="activeMenu != 'recap'"><a role="tab" class="btn btn-success" ng-click="next(activeMenu)">Suivant</a></li>
                <li><a role="tab" class="btn btn-warning" ng-click="commandeDeTest()">COMMANDE DE TEST</a></li>
                <li ng-if="activeMenu == 'recap'"><a role="tab" class="btn btn-success" ng-click="sendCommande()">Envoyer la commande</a></li>
        </ul>
        </div>

        <!-- CHOIX DATE -->
        <div class="h80" ng-class="isActiveMenu('date')">
            <h4>Selection de la Date</h4>
                <table class="table table-bordered table-condensed tab-pane form-control h90">
                    <tr ng-repeat="semaine in calendar">
                        <td ng-repeat="jour in semaine" class="form-group vcenter">
                            <a  ng-class="activeDate(jour.date)"  class="btn form-control h100" ng-disabled="!(jour.ok)" ng-click="selectDate(jour.date);">
                                <h2>{{jour.date | date: 'dd EEEE'}}</h2>
                            </a>
                        </td>
                    </tr>
                </table>
        </div>
        <!-- CHOIX HEURE -->
        <div class="h80" ng-class="isActiveMenu('heure')">
            <h4>Selection de l'Heure</h4>
            <table class="table table-bordered table-condensed tab-pane form-control h90">
                <tr>
                    <td ng-repeat="heure in {a:'6h',b:'7h',c:'8h',d:'9h',e:'10h',f:'11h',g:'12h'}" class="form-group vcenter">
                        <a class="h100 btn btn-lg form-control"  ng-class="activeHeure(heure);"  ng-click="selectHeure(heure);">
                            <h3>{{heure}}</h3>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="heure in {h:'13h',i:'14h',j:'15h',k:'16h',l:'17h',m:'18h',n:'19h'}" class="form-group vcenter">
                        <a class="h100 btn btn-lg form-control"  ng-class="activeHeure(heure);"  ng-click="selectHeure(heure);">
                            <h3>{{heure}}</h3>
                        </a>
                    </td>
                </tr>
            </table>
            <!--<form role="form" class="form-horizontal">
                <div class="form-group" ng-repeat="heure in {a:'6h',b:'7h',c:'8h',d:'9h',e:'10h',f:'11h',g:'12h',h:'13h',i:'14h',j:'15h',k:'16h',l:'17h'}" style="padding:10px;">
                    <a class="col-md-2 btn btn-lg form-control"  ng-class="activeHeure(heure);"  ng-click="selectHeure(heure);"><h3>{{heure}}</h3></a>
                </div>
            </form>-->
        </div>

        <!-- CHOIX CLIENT -->
        <div class="h80" ng-class="isActiveMenu('client')">
            <h4>Encodage du Client</h4>
            <form id="clientForm" role="form" class="form-horizontal">
                <div class="patch-zoom-bug form-group">
                    <label for="clientNom" class="col-md-2 control-label">Nom</label>
                    <div class="col-md-6" style="width:980px !important;">
                        <input type="text" class="form-control dropdown-toggle" data-toggle="dropdown" ng-model="commande.client.Nom" ng-change="getClients()" aria-haspopup="true" aria-expanded="false">
                        <ul class="dropdown-menu">
                            <li ng-repeat="clientc in clients" ng-if="clientc.display == 1"><a ng-click="commande.client=clientc;getClients();">{{clientc.Nom}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="clientTel" class="col-md-2 control-label">T&eacutel&eacutephone</label>
                    <div class="col-md-6">
                        <input id="clientTel" type="tel" ng-model="commande.client.Tel" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="clientMail" class="col-md-2 control-label">Mail</label>
                    <div class="col-md-6">
                        <input id="clientMail" type="email"  ng-model="commande.client.Mail" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="clientTVA" class="col-md-2 control-label">TVA</label>
                    <div class=" input-group col-md-6" style="padding-right:14px !important; padding-left:14px !important;">
                        <span class="input-group-addon">BE</span>
                        <input id="clientTVA" ng-model="commande.client.TVA" type="number" max="9999999999" class="form-control">
                    </div>
                </div>
            </form>
            <button type="button" class="btn tbn-primary fr" ng-click="commande.client.Nom='Commande de Test';next('client');">Commande de Test</button>
        </div>
        <!-- CHOIX Produits -->
        <div class="h80" ng-class="isActiveMenu('produit')">
            <h4>Selection des Produits</h4>
            <div class="col-md-4" style="border-right: 1px solid gray;">
                <form role="form">
                    <div class="form-group">
                        <label for="listProduit" class="control-label">Produits</label>
                        <ul id="listProduit" class="list-group">
                            <li class="list-group-item" ng-repeat="p in commande.produits">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group row">
                                        <div class="input-group col-md-5">
                                            <span ng-if="p.prod.custom" class="input-group-addon alert-warning glyphicon glyphicon-wrench"></span>
                                            <label class="control-label" data-toggle="modal" data-target="#modalProduit" ng-click="removeProduit(p);openModalProduit(p.prod,p.qty,'modify',p.commentaire);">{{p.prod.Nom}}</label>
                                        </div>
                                        <div class="input-group col-md-5">
                                            <span class="input-group-addon glyphicon glyphicon-minus" ng-click="p.qty = p.qty -1;"></span>
                                            <input type="number" class="form-control" value="1" ng-model="p.qty">
                                            <span class="input-group-addon glyphicon glyphicon-plus" ng-click="p.qty = p.qty +1;"></span>
                                            <span class="input-group-addon glyphicon glyphicon-remove clearInput" ng-click="removeProduit(p);"></span>
                                        </div>

                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- PRIX
                    <div class="form-group">
                        <label for="totalProduit" class="control-label">Total</label>
                        <input ng-model="montant" id="prix" type="text" class="form-control prixTot" value="0 EUR" disabled>
                    </div>-->
                </form>
            </div>
            <div class="col-md-8" style="border-left: 1px solid gray; margin-left: -1px;padding-left:0px !important;padding-right:0px !important;">
                <div class="col-md-2" style="padding-top:10px !important;">
                    <div class="col-md-12" style="padding-top:5px !important;padding-left:0px !important;padding-right:0px !important;">
                        <button ng-repeat="category in categories" ng-if="category.display == 1" role="tab" data-toggle="tab"
                                class="btn btn-block btn-lg" style="height:90px !important;" ng-class="buttonCategorie(category.idCategorie)"
                                ng-click="selectCategorie(category.idCategorie)">
                            {{category.Nom}}
                        </button>
                    </div>
                </div>
                <div class="tab-content col-md-10" id="produitBtnDiv" ng-repeat="category in produitTable" >
                    <div class="tab-pane" ng-class="tabCategorie(category.idCategorie)">
                        <table class="table table-bordered col-md-12 table-condensed">
                            <tr ng-repeat="row_p in category">
                                <td ng-repeat="produit in row_p" class="col-md-3" style="border:none; !important">
                                    <button type="button" data-toggle="modal" data-target="#modalProduit" class="btn btn-default btn-lg btn-block" ng-click="openModalProduit(produit.thisProd,1,'add','');">{{produit.thisProd.Nom}}</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- MODAL produit Quantite-->
                <div class="modal fade"  data-backdrop="static" keyboard="false" role="dialog" and aria-labelledby="modalProduit" id="modalProduit" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body form-group">
                                <div ng-if="modal.prod.custom" class="input-group form" role="form">
                                    <h3 class="col-md-12">Produit Personnalisé</h3>
                                    <h4 class="col-md-3">Nom :</h4>
                                    <input type="text" ng-model="modal.prod.Nom" class="form-control">
                                    <h4  class="col-md-3">Categorie :</h4>
                                    <select ng-options="category.idCategorie as category.Nom for category in categories" ng-model="modal.prod.Categorie_idCategorie" class="form-control"></select>
                                </div>
                                    <h4 class="col-md-3">Quantité</h4>
                                    <div class="input-group form-control">
                                        <span class="input-group-addon glyphicon glyphicon-minus" ng-click="modal.qty = modal.qty - 1;"></span>
                                        <input type="number" class="form-control input-lg" ng-model="modal.qty">
                                        <span class="input-group-addon glyphicon glyphicon-plus" ng-click="modal.qty = modal.qty + 1;"></span>
                                    </div>
                                    <h4 class="col-md-3">Commentaire</h4>
                                    <textarea class="form-control" rows="3" placeholder="Entrez votre commentaire" ng-model="modal.commentaire"></textarea>

                                <div id="Options-Modal-Dynamique" class="input-group form-control" ng-repeat="(key,value) in modal.params">
                                    <span class="input-group-addon glyphicon glyphicon-minus" ng-click="modal.qty = modal.qty - 1;"></span>
                                    <input type="number" class="form-control input-lg" ng-model="modal.qty">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a type="button" data-dismiss="modal" class="btn btn-danger" ng-click="cancelModalProduit();" >Annuler</a>
                                <a type="button" data-dismiss="modal" class="btn btn-success" ng-click="addProduit(modal.prod, modal.qty, modal.commentaire)" >Confirmer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-3 col-md-6">
                    <!--todo-->
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#modalProduit"
                            ng-click="openModalProduit({Nom:'', Categorie_idCategorie:'',custom:'true'},1,'custom','');">Produit personnalis&eacute...</button>
                </div>
            </div>
        </div>
        <!-- CHOIX Commentaire -->
        <div class="h80" ng-class="isActiveMenu('commentaire')">
            <h4>Commentaire</h4>
                <form id="clientForm" role="form" class="form-horizontal">
                    <div class="form-group">
                        <label for="commentaireCommande" class="col-md-2 control-label">Commentaire</label>
                        <div class="input-group col-md-6">
                            <textarea class="typeahead form-control" ng-model="commande.Remarque" id="comcom" rows="10" placeholder="Commentaire général"></textarea>
                        </div>
                    </div>
                </form>
            <button type="button" class="btn tbn-primary" ng-click="selectCommentaire();">Suivant (Payement)</button>
        </div>
        <!-- CHOIX payement-->
        <div class="h80" ng-class="isActiveMenu('payement')">
            <h4>Selection du Payement</h4>
                <form id="clientForm" role="form" class="fill form-horizontal" style="height:100%;">
                    <!--<div class="form-group">
                        <label class="col-md-2 control-label">Prix total</label>
                        <div class="col-md-6">
                            <input id="prix2" type="text" class="form-control prixTot" ng-model="commande.montant" value="0 EUR" disabled>
                        </div>
                    </div>-->
                    <div class="fill form-group" style="height:100%;">
                        <div class="fill col-md-12" style="height:100%;">
                            <div class="fill col-md-6" style="height:70%;">
                                <button type="" id="payeCommande" ng-click="selectPNP(1)" class="fill btn btn-block" ng-class="activePNP(1);" style="height:100%;">Pay&eacute</button>
                            </div>
                            <div class="col-md-6" style="height:70%;">
                                <button type="" id="payeReception" ng-click="selectPNP(0)" class="fill btn btn-block" ng-class="activePNP(0);" style="height:100%;">Non pay&eacute</button>
                            </div>
                            <div class="col-md-6" style="height:20%; margin-top:10px;">
                                <button type="" id="payeFacture" ng-click="selectPNP(2)" class="fill btn btn-block" ng-class="activePNP(2);" style="height:100%;">&Agrave facturer</button>
                            </div>
                            <div class="col-md-6" style="height:20%; margin-top:10px;">
                                <button type="" id="nonPayeFacture" ng-click="selectPNP(3)" class="fill btn btn-block" ng-class="activePNP(3);" style="height:100%;">&Agrave facturer, non pay&eacute</button>
                            </div>
                        </div>
                    </div>
                </form>
        </div>
        <!-- CHOIX Recap -->
        <div class="h80" ng-class="isActiveMenu('recap')">
            <h4>Recapitulatif</h4>
                <div id="toPrint" class="col-md-offset-1" style="width:100%;height:70%;">
                    <form class="form-horizontal col-md-3" role="form">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Nom</label>
                            <div class="col-md-6">
                                <p id="recapNom" class="form-control-static">{{commande.client.Nom}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">T&eacutel&eacutephone</label>
                            <div class="col-md-6">
                                <p id="recapTel"   class="form-control-static">{{commande.client.Tel}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Mail</label>
                            <div class="col-md-6">
                                <p id="recapMail" ng-click="activeMenu='client'" class="form-control-static">{{commande.client.Mail}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">TVA</label>
                            <div class="col-md-6">
                                <p id="recapTVA"  class="form-control-static">{{commande.client.TVA}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Date</label>
                            <div class="col-md-6">
                                <p id="recapDate" class="form-control-static">{{commande.date | date :'EEEE dd MM'}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Heure</label>
                            <div class="col-md-6">
                                <p id="recapHeure" class="form-control-static">{{commande.heure}}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Payement</label>
                            <div class="col-md-6">
                                <p class="form-control-static">{{commande.PNP}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Vendeuse</label>
                            <div class="col-md-6">
                                <p class="form-control-static">{{vendeuse.Nom}}</p>
                            </div>
                        </div>
                    </form>
                    <form class="form-horizontal col-md-8" role="form" style="border-left: 1px solid gray; margin-left: -1px;padding-left:0px !important;padding-right:0px !important;">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Produits</label>
                            <div class="col-md-6">
                                <table class="table form-control-static">
                                    <thead>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Commentaire</th>
                                    <!--<th>Prix unitaire</th>-->
                                    <th>Quantit&eacute</th>
                                    <!--<th>Total</th>-->
                                    </thead>
                                    <tbody id="recapProduit">
                                    <tr ng-repeat="produit in commande.produits">
                                        <td><span ng-if="produit.prod.custom" class="glyphicon glyphicon-wrench"></span></td>
                                        <td>{{produit.prod.Nom}}</td>
                                        <td>{{produit.commentaire}}</td>
                                        <!--<td>{{produit.prod.Prix}}</td>-->
                                        <td>{{produit.qty}}</td>
                                        <!--<td>{{produit.prod.Prix * produit.qty}}</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <label class="col-md-2 control-label">Total</label>
                            <div class="col-md-6">
                                <p ng-model="montant" class="form-control-static prixTotP">{{commande.montant}}</p>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-md-2 control-label">Commentaire</label>
                            <div class="col-md-6">
                                <p class="form-control-static">{{commande.Remarque}}</p>
                            </div>
                        </div>
                    </form>
                    <button id="doPrint" class="btn btn-lg btn-primary col-md-1">Imprimer</button>
                </div>
            <div style="width:100%;"><a class="btn btn-lg btn-success">Envoyer la commande</a></div>
        </div>
    </div>




</div>
</body>
</html>
