div.tab-content {
padding: 15px;
}

.twitter-typeahead{
	width: 97%;
}
.tt-dropdown-menu{
	width: 100%;
}
body .vcenter{
	display: inline-block;
	vertical-align: middle !important;
	float: none;
	height: 10em;
}

.noHover:hover {
	background-color: #428bca;
}

.div-absolu {
	padding-top: -10px !important;
}

.verticaltext{
	transform: rotate(-90deg);
	transform-origin: right, top;
	-ms-transform: rotate(-90deg);
	-ms-transform-origin:right, top;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin:right, top;

	position: absolute; bottom: 0%; left: 0%;
}